In [114]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor

In [115]:
df = pd.read_csv(r"C:\Users\jh\Desktop\Comp\train_data.csv")
df

,Datetime,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption_Zone1,PowerConsumption_Zone2,PowerConsumption_Zone3
0,5/5/2017 22:30,17.84,55.42,4.920,0.099,0.089,39168.00000,24375.23220,23675.46559
1,5/5/2017 21:30,18.71,49.68,4.919,0.048,0.130,43272.39344,25723.83901,24730.68826
2,4/11/2017 16:40,15.76,85.70,0.068,200.700,182.800,32489.12809,18084.31772,17716.36364
3,9/30/2017 21:40,19.19,83.60,4.919,0.073,0.122,40218.05310,23864.03326,19198.03882
4,1/5/2017 10:40,8.82,65.24,0.084,322.500,40.380,31552.40506,20739.20973,15226.98795
...,...,...,...,...,...,...,...,...,...
41927,2/27/2017 2:40,14.89,56.81,0.081,0.051,0.111,22600.67797,13542.85714,14408.68342
41928,4/18/2017 10:50,19.48,49.29,0.086,732.000,59.810,34770.80732,20492.87169,17815.27273
41929,8/18/2017 17:30,27.57,54.98,0.067,317.800,76.000,37615.80466,25519.32418,26892.03762
41930,4/27/2017 0:40,14.21,71.80,0.082,0.026,0.167,26722.92788,15085.53971,17396.36364
41931,2/22/2017 5:30,13.48,67.66,0.083,0.059,0.178,25425.76271,12729.48328,14130.81407

In [116]:


feature_columns = ["Temperature","Humidity","WindSpeed","GeneralDiffuseFlows","DiffuseFlows"]
X = df[feature_columns]
X

       Temperature  Humidity  WindSpeed  GeneralDiffuseFlows  DiffuseFlows
0            17.84     55.42      4.920                0.099         0.089
1            18.71     49.68      4.919                0.048         0.130
2            15.76     85.70      0.068              200.700       182.800
3            19.19     83.60      4.919                0.073         0.122
4             8.82     65.24      0.084              322.500        40.380
...            ...       ...        ...                  ...           ...
41927        14.89     56.81      0.081                0.051         0.111
41928        19.48     49.29      0.086              732.000        59.810
41929        27.57     54.98      0.067              317.800        76.000
41930        14.21     71.80      0.082                0.026         0.167
41931        13.48     67.66      0.083                0.059         0.178

[41932 rows x 5 columns]

In [117]:
feature_columns1 = ["PowerConsumption_Zone1"]
y1 =  df[feature_columns1]

feature_columns2 = ["PowerConsumption_Zone2"]
y2 =  df[feature_columns2]

feature_columns3 = ["PowerConsumption_Zone3"]
y3 =  df[feature_columns3]

In [118]:

def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = RandomForestRegressor(max_leaf_nodes=max_leaf_nodes, random_state=1)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [119]:
def get_mae1(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=1)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [143]:

# fill in and uncomment
train_X, val_X, train_y, val_y = train_test_split(X, y2, random_state=1)


candidate_max_leaf_nodes = [16500, 17500, 20000, 21000]
# Write loop to find the ideal tree size from candidate_max_leaf_nodes

L = [get_mae(i, train_X, val_X, train_y, val_y) for i in candidate_max_leaf_nodes]

# Store the best value of max_leaf_nodes (it will be either 5, 25, 50, 100, 250 or 500)
best_tree_size = L.index(min(L))
best_tree_size

C:\Users\jh\AppData\Local\Temp\ipykernel_1444\222225030.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(train_X, train_y)
C:\Users\jh\AppData\Local\Temp\ipykernel_1444\222225030.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(train_X, train_y)
C:\Users\jh\AppData\Local\Temp\ipykernel_1444\222225030.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(train_X, train_y)
C:\Users\jh\AppData\Local\Temp\ipykernel_1444\222225030.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(train_X, train_y)

2

In [140]:
# fill in and uncomment
train_X, val_X, train_y, val_y = train_test_split(X, y3, random_state=1)


candidate_max_leaf_nodes = [1000, 1100, 1400, 1500, 1550]
# Write loop to find the ideal tree size from candidate_max_leaf_nodes

L = [get_mae1(i, train_X, val_X, train_y, val_y) for i in candidate_max_leaf_nodes]

# Store the best value of max_leaf_nodes (it will be either 5, 25, 50, 100, 250 or 500)
best_tree_size = min(L)
print(best_tree_size)
print(L.index(min(L)))

3096.166193262893
4

In [110]:
iowa_model1 = RandomForestRegressor(max_leaf_nodes=17000, random_state=1)
iowa_model1.fit(X, y1)
pred1 = iowa_model1.predict(X)
val_mae = mean_absolute_error(pred1, y1)

# uncomment following line to see the validation_mae
print(val_mae)

C:\Users\jh\AppData\Local\Temp\ipykernel_1444\464332321.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  iowa_model1.fit(X, y1)

1196.1605168394071

In [144]:
iowa_model2 = DecisionTreeRegressor(max_leaf_nodes=1200, random_state=1)
iowa_model2.fit(X, y2)
pred2 = iowa_model2.predict(X)
val_mae = mean_absolute_error(pred1, y2)

# uncomment following line to see the validation_mae
print(val_mae)

11298.659542965917

In [149]:
iowa_model3 = DecisionTreeRegressor(max_leaf_nodes=12000, random_state=1)
iowa_model3.fit(X, y3)
pred3 = iowa_model3.predict(X)
val_mae = mean_absolute_error(pred1, y3)

# uncomment following line to see the validation_mae
print(val_mae)

14503.17765205893

In [97]:
df1 = pd.read_csv(r"C:\Users\jh\Desktop\Comp\test_data.csv")
df1

,Datetime,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows
0,2/12/2017 14:40,13.28,82.80,0.074,127.000,128.400
1,11/22/2017 15:30,15.72,48.38,4.923,126.200,119.900
2,10/15/2017 1:50,17.25,85.80,0.079,0.055,0.130
3,9/11/2017 23:00,21.66,60.52,0.270,0.102,0.104
4,12/26/2017 1:20,8.75,79.90,0.079,0.066,0.126
...,...,...,...,...,...,...
10478,2/1/2017 13:00,12.39,47.18,4.920,581.400,623.500
10479,5/17/2017 14:40,21.70,65.90,4.919,780.000,313.900
10480,9/3/2017 7:00,20.34,54.32,4.924,9.500,6.165
10481,11/23/2017 11:40,11.89,60.13,4.921,469.100,45.410
10482,6/14/2017 23:40,18.77,63.76,0.080,0.048,0.141

In [101]:
feature_columns = ["Temperature","Humidity","WindSpeed","GeneralDiffuseFlows","DiffuseFlows"]
XX = df[feature_columns]
XX

       Temperature  Humidity  WindSpeed  GeneralDiffuseFlows  DiffuseFlows
0            17.84     55.42      4.920                0.099         0.089
1            18.71     49.68      4.919                0.048         0.130
2            15.76     85.70      0.068              200.700       182.800
3            19.19     83.60      4.919                0.073         0.122
4             8.82     65.24      0.084              322.500        40.380
...            ...       ...        ...                  ...           ...
41927        14.89     56.81      0.081                0.051         0.111
41928        19.48     49.29      0.086              732.000        59.810
41929        27.57     54.98      0.067              317.800        76.000
41930        14.21     71.80      0.082                0.026         0.167
41931        13.48     67.66      0.083                0.059         0.178

[41932 rows x 5 columns]

In [150]:
pred1 = iowa_model1.predict(XX)

In [151]:
pred2 = iowa_model2.predict(XX)

In [152]:
pred3 = iowa_model3.predict(XX)

In [157]:
fdy1 = pd.DataFrame(pred1)
fdy2 = pd.DataFrame(pred2)
fdy3 = pd.DataFrame(pred3)

In [158]:
fdy1

                  0
0      38326.339950
1      40945.477349
2      32627.521040
3      37926.642205
4      31133.173631
...             ...
41927  24382.364698
41928  34463.482765
41929  37698.322264
41930  31340.204869
41931  25329.168930

[41932 rows x 1 columns]